.content-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.combo-item {
    background-color: var(--hover-color);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.combo-text {
    font-size: 1rem;
    color: var(--text-color);
}

.menu {
    display: none;
    position: absolute;
    top: 2.5rem;
    right: 0;
    background-color: var(--background-color);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.menu button {
    display: block;
    width: 100%;
    padding: 0.5rem;
    background: none;
    color: white;
    cursor: pointer;
    text-align: left;
}

.menu-container {
    position: relative;
    display: inline-block;
}

.menu-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--secondary-color);
    cursor: pointer;
}

.menu button:hover {
    background-color: var(--hover-color);
}

.create-button-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.btn-create {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 2rem;
    background-color: var(--secondary-color);
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    border-radius: 10px;
}