@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

/*.fugaz-one-regular {*/
/*    font-family: "Fugaz One", serif;*/
/*    font-weight: 400;*/
/*    font-style: normal;*/
/*}*/

:root {
    --primary-color: #000080;
    --secondary-color: #ffff00;
    --background-color: #000066;
    --hover-color: #0039;
    --text-color: white;
    --font-heading: 'Fugaz One', sans-serif;
}

body {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: var(--font-heading), sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    color: var(--secondary-color);
    margin-bottom: 2rem;
    text-align: center;
}

.custom-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    border: 2px solid var(--secondary-color);
    color: var(--text-color);
    padding: 1.5rem;
    border-radius: 5px;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: left;
    margin: 0.5rem 0;
    width: 100%;
    transition: all 0.3s ease;
}

.custom-button img {
    width: 40px;
    height: 40px;
    margin-right: 1rem;
}

.custom-button:hover {
    background-color: var(--hover-color);
    transform: scale(1.01);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.button-container {
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 1rem;
}