@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');


:root {
    --primary-color: #000080;
    --secondary-color: #ffff00;
    --background-color: #000066;
    --hover-color: #0039;
    --text-color: white;
    --font-heading: 'Fugaz One', sans-serif;
}

body {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: var(--font-heading), sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}


h1 {
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--secondary-color);
    margin-bottom: 1rem;
    text-align: center;
}

.custom-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    border: 2px solid var(--secondary-color);
    color: var(--text-color);
    padding: 1.75rem;
    border-radius: 10px;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    margin: 1.5rem auto;
    width: 100%;
    transition: all 0.3s ease;
}


.custom-button img {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}

.custom-button:hover {
    background-color: var(--hover-color);
    transform: scale(1.01);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.button-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-btn {
    font-size: 1.5rem;
    padding-top: 2rem;
    color: var(--secondary-color);
}

.btn-back {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 2.5rem;
    padding: 0.25rem 0.5rem;
    transition: all 0.3s ease;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.btn-back:hover {
    cursor: pointer;
}

.back-button-container {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
}

.selectable-item {
    background-color: var(--primary-color);
    color: #fff;
    padding: 1rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    user-select: none;
}


.selectable-item.selected {
    background-color: #2b2b2b;
}

.save-btn {
    margin: 1rem auto;
    display: block;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.save-btn:hover {
    background-color: #007BA1;
}


#auth-link,
#sign-out-btn {
    display: block;
    margin: 0 auto;
    background: none !important;
    border: none !important;
    color: yellow !important;
    font-weight: bold;
    text-decoration: none;
}

#sign-out-btn {
    margin-top: 0.5rem;        
    cursor: pointer;
}

.brand-logo {
    width: auto;
    height: 100px;
}

