body {
    background-color: var(--primary-color);
    color: var(--text-color);
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    color: var(--secondary-color);
    margin-bottom: 1rem;
    text-align: center;
}

.timer-settings {
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.setting-button {
    background-color: var(--background-color);
    border: 2px solid var(--secondary-color);
    color: var(--text-color);
    padding: 1.2rem;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.setting-button:hover {
    background-color: var(--hover-color);
    transform: scale(1.02);
    box-shadow: 0 4px 10px rgba(255, 255, 0, 0.3);
}

.toggle-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    border: var(--secondary-color);
    padding: 1rem;
    border-radius: 8px;
    width: 90%;
    max-width: 600px;
}

input[type="checkbox"] {
    width: 25px;
    height: 25px;
    transform: scale(1.5);
    cursor: pointer;
}

.toggle-container label {
    font-size: 1.5rem;
    margin-right: 10px;
    font-weight: bold;
}

.start-button {
    width: 90%;
    max-width: 600px;
    margin-top: 1.5rem;
    padding: 1.5rem;
    background-color: green;
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.start-button:hover {
    background-color: darkgreen;
    transform: scale(1.02);
}

.select-container {
    text-align: center;
    width: 100%;
}

.time-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    height: 300px;
    width: 90%;
    max-width: 600px;
    background-color: var(--background-color);
    border-radius: 10px;
    border: 5px solid var(--background-color);
    padding: 1rem;
}

.time-option {
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.time-option:hover {
    background-color: var(--hover-color);
    transform: scale(1.02);
}

#timer-display {
    font-size: 8rem;
    font-weight: bold;
    text-align: center;
    margin: 2rem 0;
    border-radius: 4rem;
}

#phase-title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}

#round-display {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}

.pause-button {
    font-size: 2.5rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    background-color: yellow;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.35s ease;
    display: block;
    margin: 1rem auto;
}

.pause-button:hover {
    background-color: #e6e600;
}

#combo-display,
#workout-display {
    font-size: 3rem;
    font-weight: bold;
}
